<li>
	<ul>
    <li>{{name}}</li>
		<li>
    <button class="change-eat btn btn-sm btn-dark" data-id="{{id}}" data-neweat="{{uneat}}">
		{{#if uneat}}ORDER AGAIN!{{else}}BURGER TIME!{{/if}}</button>
		</li>
		<li>
	  <button class="delete-burger btn btn-sm btn-dark" data-id="{{this.id}}">DELETE!</button>
		</li>
	</ul>
</li>