<li>
    {{name}}

    <button class="change-eat" data-id="{{id}}" data-neweat="{{uneat}}">
		{{#if uneat}}ORDER AGAIN!{{else}}BURGER TIME!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>